<app-content-layout
  title="maintenances.title"
  description="maintenances.description"
>
  <app-filter-form [form]="filterForm" [fields]="filterFields" />

  <div class="wrapper">
    <h2 class="primary-text">
      {{ "maintenances.all" | translate }}
      @if (pagination(); as p) {
        ({{ p.total }})
      }
    </h2>
    <app-table
      [tableHeader]="tableHeaders"
      [tableData]="data()"
      [pagination]="pagination()"
      [loading]="loading()"
      [options]="{ showPreview: true, showDelete: true, showEdit: false }"
      (handlePageChange)="onPageChange($event)"
      (handleDelete)="onDelete($event)"
      (handlePreview)="onPreview($event)"
      (handleSort)="onSort($event)"
    >
      <ng-template appColumnTemplate="carId" let-row>
        <a
          [routerLink]="['/cars', row.carId]"
          class="text-blue-600 hover:text-blue-800 hover:underline"
        >
          {{ row.car.brand }} {{ row.car.model }} {{ row.car.year }}
        </a>
      </ng-template>
      <ng-template appColumnTemplate="name" let-row>
        {{ "maintenances.types." + row.name | translate }}
      </ng-template>
    </app-table>
  </div>
</app-content-layout>

<p-confirmpopup />
