@use "tailwindcss";

:root {
  --main-color: #3b82f6;
  --main-color-dark: #1d4ed8;

  // --p-form-field-background: 0;
  // --p-form-field-border-color: 0;
  // --p-form-field-hover-border-color: 0;
  // --p-form-field-color: 0;
  // --p-form-field-shadow: 0;
  --p-form-field-padding-x: 0.5rem !important;
  --p-form-field-padding-y: 0.4rem !important;
  --p-form-field-border-radius: 6px !important;
  // --p-form-field-transition-duration: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
}

.p-component {
  --p-primary-color: var(--main-color);
  --p-button-background: var(--main-color);
  --p-button-hover-background: var(--main-color-dark);
  --p-inputtext-focus-border-color: var(--main-color);
  --p-checkbox-checked-background: var(--main-color);
  --p-checkbox-checked-border-color: var(--main-color);
}

.wrapper {
  @apply bg-white rounded-lg shadow-sm border p-1;
}

button {
  @apply cursor-pointer;
}

.secondary-text {
  @apply text-sm font-medium text-gray-700 mb-1 block;
}
