<app-content-layout
  title="cars.title"
  description="cars.description"
  actionLabel="buttons.add"
  (actionClick)="onAdd()"
>
  <app-filter-form [form]="filterForm" [fields]="filterFields" />

  <div class="wrapper">
    <h2 class="primary-text">
      {{ "cars.all" | translate }}
      @if (pagination(); as p) {
        ({{ p.total }})
      }
    </h2>
    <app-table
      [tableHeader]="tableHeaders"
      [tableData]="data()"
      [pagination]="pagination()"
      [loading]="loading()"
      [options]="{ showPreview: true, showDelete: true, showEdit: false }"
      (handlePageChange)="onPageChange($event)"
      (handleDelete)="onDelete($event)"
      (handlePreview)="onPreview($event)"
      (handleSort)="onSort($event)"
    >
      <ng-template appColumnTemplate="fuelType" let-row>
        {{ "cars.fuelTypes." + row.fuelType | translate }}
      </ng-template>
      <ng-template appColumnTemplate="bodyType" let-row>
        {{ "cars.bodyTypes." + row.bodyType | translate }}
      </ng-template>
    </app-table>
  </div>
</app-content-layout>

<p-confirmpopup />
