<div class="p-6">
  <app-page-header
    title="users.edit.title"
    actionLabel="buttons.save"
    [loading]="saving()"
    (action)="onSubmit()"
  >
    @if (user(); as u) {
      <p subtitle class="text-gray-500">{{ u.firstName }} {{ u.lastName }}</p>
    }
  </app-page-header>

  @if (loading()) {
    <app-form-skeleton [count]="4" />
  } @else {
    <div class="wrapper !p-6">
      <form [formGroup]="form" class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6">
          <label class="secondary-text">
            {{ "users.fields.firstName" | translate }}
            <span class="text-red-500">*</span>
          </label>
          <input pInputText formControlName="firstName" class="w-full" />
          <app-field-errors
            [errors]="form.get('firstName')?.errors ?? null"
            [control]="form.get('firstName')"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <label class="secondary-text">
            {{ "users.fields.lastName" | translate }}
            <span class="text-red-500">*</span>
          </label>
          <input pInputText formControlName="lastName" class="w-full" />
          <app-field-errors
            [errors]="form.get('lastName')?.errors ?? null"
            [control]="form.get('lastName')"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <label class="secondary-text">
            {{ "users.fields.email" | translate }}
            <span class="text-red-500">*</span>
          </label>
          <input
            pInputText
            formControlName="email"
            type="email"
            class="w-full"
          />
          <app-field-errors
            [errors]="form.get('email')?.errors ?? null"
            [control]="form.get('email')"
          />
        </div>

        <div class="col-span-12 md:col-span-6">
          <label class="secondary-text">
            {{ "users.fields.dateOfBirth" | translate }}
            <span class="text-red-500">*</span>
          </label>
          <p-datepicker
            fluid
            formControlName="dateOfBirth"
            dateFormat="yy-mm-dd"
            styleClass="w-full"
            [showIcon]="true"
          />
          <app-field-errors
            [errors]="form.get('dateOfBirth')?.errors ?? null"
            [control]="form.get('dateOfBirth')"
          />
        </div>
      </form>
    </div>
  }
</div>
